<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Simple Page')"/>
  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('HOME')">
  </nav>

  <main class="container">

    <div class="starter-template text-center py-5 px-3">
      <h1>portfolio</h1>
      <p class="lead">유저 권한, 게시물, 파일 업/다운로드 기능구현<br> Spring Security, JPA</p>
      <p>admin권한 유저 <br>id: user1 , pw : 1234</p>
    </div>

  </main>
  </body>
</html>